<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- USER DB接続文字列 -->
    <add key="USER_ConnectionString" value="User Id=rris;Password=rris1;Data Source=RRIS"/>
    <!-- 共有フォルダパス-->
    <add key="CSVFolder" value="C:\kansai\ShareFloder"/>
    <!-- ファイル名称（拡張子は付けない）-->
    <add key="CSVFile" value="LinkageData"/>
    <!-- 検査進捗（受済） ※カンマで複数指定可-->
    <add key="KensaStatus" value="10,20"/>
    <!-- 検査種別 ※カンマで複数指定可-->
    <add key="KensaType" value="10,20"/>
    <!-- 出力対象外とする検査室 ※カンマで複数指定可-->
    <!-- 出力対象外を設定しない場合は「value="0"」としてください。-->
    <add key="KensaSitu_NotIn" value="0"/>
    <!-- ログフォルダ保持期間（日数）※最小値「1」 -->
    <add key="LogKeepDays" value="7"/>
    <!-- スレッド定周期実行フラグ 0：1回実行 1：定周期実行 -->
    <add key="ThreadLoopFlg" value="0"/>
    <!-- スレッド待機時間(ミリ秒) -->
    <add key="ThreadInterval" value="3000"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342"/>
        <!-- Oracle.DataAccessバージョン設定 -->
        <!-- newVersionには、現地環境のOracle.DataAccessバージョンを設定して下さい。 -->
        <!-- [Oracle.DataAccessバージョン確認方法] -->
        <!-- Oracleインストールディレクトリ\ODP.NET\bin\4にOracle.DataAccess.dllファイルが存在するので -->
        <!-- 右クリック → プロパティ → 詳細 → ファイルバージョン で確認して下さい。 -->
        <bindingRedirect oldVersion="2.112.1.0-4.122.19.1" newVersion="4.122.19.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
