<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="log4net" type=" log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>

    <log4net>
        <!-- ログファイルの定義 -->
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        
            <!-- 出力先-->
            <param name="File" value="C:\kansai\LOG\" />

            <!-- 書込み
              追記 : true,
              上書 : false  -->
            <param name="AppendToFile" value="true" />

            <!-- ファイルサイズ
              単位: KB, MB, GB -->
            <maximumFileSize value="1024MB" />

            <!-- 最大保存ファイル数
              0未満 ： 上限無し
              0     ： バックアップ無し
              1以上 ： バックアップ数 -->
            <maxSizeRollBackups value="9" />

            <!-- ファイル切替
              実行毎       : Once
              サイズ       : Size
              日付         : Date
              日付＆サイズ : Composite -->
            <param name="RollingStyle" value="Composite" />

            <!-- ファイル名固定 -->
            <param name="StaticLogFileName" value="false" />

            <!-- ファイル名の日付部分 -->
            <param name="DatePattern" value='yyyyMMdd"\\WaitingInterface.log"' />

            <!-- ローテーション
              0未満 : 全ファイルの連番を繰上げる
              0以上 : 新たに連番を付加する -->
            <CountDirection value="-1" />

            <!-- ロックモード 
              排他ロック : log4net.Appender.FileAppender+ExclusiveLock
              共有ロック : log4net.Appender.FileAppender+MinimalLock -->
            <LockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            
            <!-- フォーマット -->
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%-5level %date{yyyy-MM-dd HH:mm:ss.fff} [%thread] %logger %method - %message%newline" />
            </layout>
            
            <!-- ログレベルのフィルタ -->
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="DEBUG" />
                <levelMax value="FATAL" />
            </filter>
        </appender>

        <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%d %-5p [%t] %m%n" />
          </layout>
        </appender>

        <root>
            <!-- すべてのログレベルを出力 -->
            <level value="ALL" />

            <!-- どのログ出力先を使用するか -->
            <appender-ref ref="RollingLogFileAppender" />
            <appender-ref ref="TraceAppender" />
        </root>
      
    </log4net>
</configuration>
